
  
.header {
    padding: 10px;
    text-align: center;
    font-size: 30px;
    border: 3px solid #17a2b8;
    background-color: #EAEAEA;
    color: #17a2b8;
}
  
  
  .h1{
    color: #17a2b8;
    text-align: center;
  }
  